#Map {
  position: absolute;
  left: 410px;
  top: 5px;
  width: 830px;
  height: 655px;
}

#MAP_LINE {
  position: absolute;
  width: 830px;
  height: 655px;
  pointer-events: none;
}

#mapsvg {
  position: absolute;
  /* left: 410px; */
  width: 830px;
  height: 655px;
}

canvas {
  z-index: -1;
}
